

.x-line {
  border-bottom: 1px solid #444;
}



.editing {
  .deckList-item {
    .deckList-nameInput {
      display: inline !important;
      width: calc(100% - 68px) !important;
    }
    .deckList-nameEnter {
      display: initial !important;
    }
    .deckList-buttons, .deckList-name {
      display: none !important;
    }
  }
}

.iconBtn {
  cursor: pointer;
}

@keyframes deckActiveScroll {
  0% {
    transform: translate(0, -2px);
  }

  100% {
    transform: translate(-500%, -2px);
  }
}

main {
  height: calc(100% - 100px);
  z-index: 100;
  #leftmenu {
    height: 100%;
    width: 20%;
    max-width: 300px;
    border-right: 1px solid #444;

    #leftmenuHeader {
      padding-top: 20px;
      padding-right: 5%;
      padding-left: 5%;
      margin: 0 auto 10px;
      .editBtn-container {
        display: inline;
      }
    }

    #addDeck {
      background: var(--cps-theme);
      color: white;
      user-select: none;
      cursor: pointer;
      padding: 5px 0;
      span {
        padding: 0 10px;
      }
    }


    #deckList {
      height: calc(100% - 101px);
      user-select: none;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      ul > li {
        &.deckList-item {
          background: repeating-linear-gradient(-45deg, #fff, #fff 4px, #ccc 0, #ccc 6px);
          color: black;
          border: none;
          border-radius: 0;
          overflow: hidden;
          position: relative;
          // 中身
          div.deckList-itemContent {
            height: 30px;
            line-height: 30px;
            user-select: none;
            img.deckList-itemIcon {
              transform: translateY(-12px);
              width: 48px;
            }
            .deckList-name {
              font-size: 20px;
              vertical-align: top;
            }
            // デッキ名入力(編集用)
            .deckList-nameInput {
              border: none;
              border-bottom: 1px solid #333;
              display: none;
              background: none;
              outline: none;
              vertical-align: top;
              line-height: 30px;
              height: 28px;
            }
            .deckList-nameEnter {
              padding: 0;
              position: relative;
              bottom: 8px;
              border: none;
              color: #555;
              display: none;
            }

            .deckList-buttons {
              position: absolute;
              bottom: 10px;
              right: 0;
              display: none;
              .deckList-button {
                margin: 0 5px;
                color: #444;
                height: 20px;
                width: 20px;
                cursor: pointer;
              }
            }
          }
          // Active Animation
          .deckList-activeAnimation {
            position: absolute;
            height: 8px;
            font-size: 10px;
            background: black;
            color: white;
            width: 300%;
            left: 0;
            display: none;
            overflow: hidden;

            > span {
              animation: deckActiveScroll 4s linear infinite;
              display: inline-block;
              padding-right: 60px;
            }
          }
          &.active {
            border-left: 5px solid var(--cps-theme);
            .deckList-activeAnimation {
              display: block;
            }
          }
        }
      }
      &.editMode {
        .deckList-item .deckList-buttons {
          display: inline-block;
        }
      }
    }
  }

  #mainWindow {
    height: 100%;
    flex: 1;

    #cardList_Header {
      margin: 10px 5px;
      h2 {
        display: inline-block;
        margin-bottom: 0;
        width: 150px;
      }

      #cardList_Header_SearchForm {

        #cardList_Header_SF_filterBtn {
          border-top: 0;
          border-bottom: 0;
          font-size: 14px;
          margin: auto 10px;
        }

        #cardList_Header_SF_searchBox {
          outline: none;
          border: none;
          border-bottom: 1px solid #888;
          transition: .3s;

          &:focus {
            border-bottom: 1px solid #333;
          }
        }

        #cardList_Header_SF_detailSwitch {
          display: inline-block;
        }
      }
    }

    #cardList_Main {
      height: calc(100vh - 167px);
      overflow-y: scroll;
      .cpsdm-cardList-rankContainer {
        width: calc(100% - 20px);
        margin: 10px;

        .cpsdm-cardList-rankContainer-head {
          width: calc(100% - 20px);
          margin: 0 10px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #888;

          .cpsdm-cardList-rankContainer-toggleBtn {
            background: none !important;
            border: none !important;
            color: #000 !important;
            outline: none;
            box-shadow: none !important;
          }
        }
        .cpsdm-cardList-container {
          width: 100%;
          margin: 10px;

          .cpsdm-cardList-container-list {
            width: calc(100% - 20px);
            border: none;
            list-style: none;
            border-radius: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            .cpsdm-cardList-container-list-item {
              width: 120px;
              height: 165px;
              margin: 5px;
              background-size: contain;
              background-repeat: no-repeat;
              padding: 0;
              .cpsdm-cardList-cardDetail {
                height: 100%;
                width: 100%;
                display: block;
                text-align: center;
                background: #0005;
                padding: 5px 0;

                > * {
                  display: block;
                  color: #fff;
                }

                .cpsdm-cardList-cardDetail-name {
                  line-height: 16px;
                  display: block;
                  font-weight: bold;
                  font-size: 11px;
                }

                .cpsdm-cardList-cardDetail-status {
                  width: 60%;
                  display: block;
                  text-align: center;
                  font-size: var(--cpsdm-cardDetail-stat-size);
                  margin: 10px 20px;
                  > span {
                    display: block;
                    width: 100%;
                    line-height: calc(var(--cpsdm-cardDetail-stat-size) - 2px);
                    &::before {
                      content: " ";
                      display: inline-block;
                      width: var(--cpsdm-cardDetail-stat-size);
                      height: var(--cpsdm-cardDetail-stat-size);
                      background-size: contain;
                      background-position: center;
                      margin-right: 16px;
                    }
                    &.cpsdm-cardList-cardDetail-status-atk::before {
                      background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_attack_w.png);
                    }

                    &.cpsdm-cardList-cardDetail-status-def::before {
                      background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_defence_w.png);
                    }

                    &.cpsdm-cardList-cardDetail-status-phy::before {
                      background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_physical_w.png);
                    }
                  }
                }
                .cpsdm-cardList-cardDetail-info {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  font-size: 14px;
                  text-align: center;
                  justify-content: center;

                  > span.pad {
                    padding: 0 5px;
                  }
                }
                .cpsdm-cardList-cardDetail-buttonBox {
                  display: flex;
                  justify-content: center;
                  margin: 10px 0 0 0;
                  .cpsdm-cardList-cardDetail-button {
                    background: none;
                    border: none;
                    margin: 0 5px;
                    border-radius: 0;
                    padding: 0;
                    transition: 0.2s;
                    width: 36px;

                    > {
                      svg {
                        position: relative;
                        width: 36px;
                        height: 36px;
                      }

                      span {
                        display: block;
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        opacity: 0;
                        transition: 0.2s;
                        position: absolute;
                        text-align: center;
                        color: #fff;
                        filter: drop-shadow(0 0 3px #000);
                      }
                    }

                    &:hover {
                      background: none;

                      > {
                        svg {
                          filter: blur(2px);
                        }

                        span {
                          opacity: 1;
                        }
                      }
                    }

                    &:active {
                      background: none !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.tooltip > .tooltip-inner {
  opacity: .75;
}

#rightwindow {
  height: 100%;
  width: 400px;
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #ccc 0, #ccc 6px);
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid #888;

  #deckBox {
    width: calc(100% - 20px);
    margin: 20px 10px;

    #deckBox-Title {
      border-bottom: 2px solid #000;

      > {
        h2 {
          display: inline-block;
          margin: 0;
        }

        button {
          margin: 0;
          vertical-align: text-bottom;
          float: right;
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }


    #deckBox-Cards {
      margin: 10px 0;
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .deckBox-card {
          width: 25%;
          > img {
            border: 1px solid #000a;
          }
          .deckBox-card-detail {
            background: #fff;
            border: 2px dotted;
            padding: 2px 1px;
            font-size: 0;


            .deckBox-card-detail-level {
              font-size: 16px;
              .deckBox-card-detail-level-input {
                width: 50px;
                height: 24px;
                outline: none;
              }
            }

            .deckBox-card-detail-statusBox {
              width: 50%;
              display: inline-block;
              > span {
                font-size: 14px;
                width: 100%;
                display: block;
                line-height: 14px;

                &::before {
                  content: " ";
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  line-height: 12px;
                  background-size: contain;
                  background-position: center;
                }


                &.deckBox-card-detail-statusBox-atk::before {
                  background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_attack.png);
                }

                &.deckBox-card-detail-statusBox-def::before {
                  background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_defence.png);
                }

                &.deckBox-card-detail-statusBox-phy::before {
                  background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_physical.png);
                }
              }
            }
            .deckBox-card-detail-info {
              display: inline-block;
              font-size: 14px;
              margin-left: 5px;
              width: calc(50% - 5px);
            }
          }
        }
      }
    }
    #deckBox-TotalStatus > {
      h5 {
        color: #555;
        border-bottom: 2px solid;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 5px 10px;
        .deckBox-TotalStatus-status {
          color: #666;
          > span {
            font-weight: bold;
            line-height: 20px;
            vertical-align: top;

            &::before {
              content: " ";
              display: inline-block;
              width: var(--cpsdm-cardDetail-stat-size);
              height: var(--cpsdm-cardDetail-stat-size);
              background-size: contain;
              background-position: center;
              width: 20px;
              height: 20px;
              vertical-align: middle;
            }
          }

          &[data-cpsdm-totalstatus="atk"] > span::before {
            background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_attack.png);
          }

          &[data-cpsdm-totalstatus="def"] > span::before {
            background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_defence.png);
          }

          &[data-cpsdm-totalstatus="phy"] > span::before {
            background-image: url(http://cpsdm-assets.local.mfmii.work/img/icons/stat_physical.png);
          }

          .deckBox-TotalStatus-status-barBox {
            display: inline-block;
            border: 2px solid #999;
            width: calc(100% - 80px);
            height: 20px;
            margin-left: 20px;
            background: #444;
            font-size: 0;
            position: relative;


            .deckBox-TotalStatus-status-barBox-text {
              position: absolute;
              transform: translate(120px, -4px);
              display: inline-block;
              font-size: 14px;
              color: #fff;
              z-index: 110;
              font-weight: bold;
              .deckBox-TotalStatus-status-barBox-text-normal {
                font-weight: normal;
              }
              .deckBox-TotalStatus-status-barBox-text-plus {
                color: #6371cc;
              }

              .deckBox-TotalStatus-status-barBox-text-minus {
                color: #f00;
              }

              .deckBox-TotalStatus-status-barBox-text-total {
                text-decoration: underline;
              }
            }
            .deckBox-TotalStatus-status-barBox-val {
              display: inline-block;
              height: 100%;
              position: relative;
              width: 0;
              //width: 50%;
              background-color: #ce5;
              z-index: 100;
            }

            .deckBox-TotalStatus-status-barBox-val-plus {
              display: inline-block;
              height: 100%;
              position: relative;
              width: 0;
              //width: 17%;
              background-color: #0fbb0f;
              z-index: 100;
            }

            .deckBox-TotalStatus-status-barBox-val-minus {
              display: inline-block;
              height: 100%;
              position: relative;
              width: 0;
              //width: 7%;
              background-color: #f80;
              //left: -7%;
              z-index: 100;
            }
          }
        }
      }

      #deckBox-TotalStatus-HeroCalc {
        border: 2px solid #888;
        display: inline-block;
        background: #fff;
        float: right;
        padding: 0 5px;
      }

    }
  }
}
